<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:mq/rabbitmq.properties</value>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>

    <!--<import resource="rabbitmq-consumer.xml"/>-->
    <import resource="rabbitmq-productor.xml"/>
    <import resource="dao-config.xml"/>
    <import resource="mq/mq.xml"/>

    <!-- 使能AOP-->
    <aop:aspectj-autoproxy/>
    <!-- 自动装载bean使能-->
    <context:component-scan base-package="com.netease.mq"/>
    <context:annotation-config/>

    <bean id="=heartBeatHandler" class="com.netease.mq.heartbeat.HeartBeatHandler">
        <property name="host" value="${rabbitmq.host}"/>
        <property name="port" value="${rabbitmq.port}"/>
        <property name="heartBeatInterval" value="${rabbitmq.heartBeatInterval}"/>
    </bean>
</beans>