<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.mq.message.dao.MessageMapper">

    <insert id="saveRMQMessage">
        insert into tb_message (content, client, exchange, routing_key, msg_no) values (#{content}, #{client}, #{exchange}, #{routingKey}, #{msgNo})
    </insert>

    <select id="getMessageByClient" resultType="rmqMessage">
        select id, content, client, exchange, routing_key from tb_message where client = #{client}
    </select>
    
    <delete id="deleteRMQMessage">
        delete from tb_message where msg_no = #{msgNo}
    </delete>

</mapper>